## Environment principal de l'application ##
NODE_ENV=development


## Server ##
PORT=3000
HOST=localhost

## JWT ##
JWTSECRET= # Remplir avec une clé secrète sécurisée

## MongoDB ##
MONGODB=   # Remplir avec l'URI de connexion MongoDB

## Setup jet-logger ##
JET_LOGGER_MODE=CONSOLE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE

